<div class="container">
  <div class="header">
    <h1>GitHub Search</h1>
  </div>
  <div class="row">

      <div class="col-md-4">
        <div id="search">


          <form (ngSubmit)=search(formSearch)  #formSearch="ngForm">
              <label for="search">Search Repo:</label>
              <input type="text" class="form-control" name="username" method="get" placeholder="search username/repository"
                [(ngModel)]='reponame' (keyup)="repoSearch()">
          </form>
        </div>
      </div>

  </div>


  <div class="card">
    <div *ngFor="let rep of repositories" class="card-body">

        <li>{{rep.name}}<br>
            {{rep.description}}<br>
        </li>


    </div>
  </div>
  <div *ngFor="let lis of repo['items']" class="row">
    <li>{{lis['name']}}</li>

  </div>

</div>
